%header.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{data:{toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand
        %a{href: root_path} Taskly
      .nav-collapse
        %ul.nav
          %li
            %a{href: tasks_path} Link to task json api
          %li