%header.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{data:{toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand
        %a{href: "#"} Home
      .nav-collapse
        %ul.nav
          %li.active
            %a{href: "#"} First Link
          %li
            %a{href: "#"} First Link