.contentBox{
  width: 100%;
  overflow: inherit;

}
.editable{
  line-height: 50px;
  font-size: 2em;
}
.toggleDone{
  float: right;
  padding: 0 5px;
}

.deleteTask{
  float: right;
  padding: 0 5px;
}
.done{
  text-decoration: line-through;
  font-style: italic;
  background: red;
}

li{
  list-style: none;
}
li.task{
    border-bottom: solid;
}

section.tasks{
  padding: 20px 0 0 0;
}

.inputTask{
  margin: 0;
}

.inputTask{
  display: inline-block;
  border: 1px inset #ccc;
}

.inputTask input {
  width: 65%;
  border: none;
  padding: 5px;
}

.inputTask span {
  float: right;
  border: none;
  background: none;
}

.inputTask{
  i{
    font-size: 1.5em;
  }
}